<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed " dir="ltr" data-theme="theme-default"
      data-assets-path="/static/" data-template="vertical-menu-template"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Dojo - Đánh giá năng lực</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="/static/vendor/fonts/boxicons.css"/>
    <link rel="stylesheet" href="/static/vendor/fonts/fontawesome.css"/>
    <link rel="stylesheet" href="/static/vendor/fonts/flag-icons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="/static/vendor/css/rtl/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/static/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/static/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/static/vendor/libs/typeahead-js/typeahead.css"/>
    <link rel="stylesheet" href="/static/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
    <link rel="stylesheet" href="/static/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
    <link rel="stylesheet" href="/static/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
    <link rel="stylesheet" href="/static/vendor/libs/select2/select2.css"/>
    <link rel="stylesheet" href="/static/vendor/libs/formvalidation/dist/css/formValidation.min.css"/>

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/static/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="/static/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/static/js/user/config.js"></script>
</head>

<body>

<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
    <div class="layout-container">

        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">


            <div class="app-brand demo ">
                <a href="index.html" class="app-brand-link">
                    <span class="demo menu-text fw-bolder ms-2">Dojo</span>
                </a>
            </div>

            <div class="menu-inner-shadow"></div>


            <ul class="menu-inner py-1">
                <li class="menu-item">
                    <a th:href="@{/account/my-course}" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-envelope"></i>
                        <div data-i18n="Pages">Khóa học của tôi</div>
                    </a>
                </li>
                <li class="menu-item active">
                    <a th:href="@{/exam}" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-envelope"></i>
                        <div data-i18n="Pages">Đánh giá năng lực</div>
                    </a>
                </li>
                <li class="menu-header small text-uppercase">
                    <span class="menu-header-text">Tài khoản</span>
                </li>
                <li class="menu-item">
                    <a th:href="@{/account/profile}" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-envelope"></i>
                        <div data-i18n="Account">Thông tin cá nhân</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/account/change-password}" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-envelope"></i>
                        <div data-i18n="Security">Đổi mật khẩu</div>
                    </a>
                </li>
                <li class="menu-header small text-uppercase" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <span class="menu-header-text">Admin</span>
                </li>
                <li class="menu-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/admin/course}" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-edit"></i>
                        <div data-i18n="Course">Quản lý khóa học</div>
                    </a>
                </li>
                <li class="menu-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/admin/user}" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-user"></i>
                        <div data-i18n="User">Quản lý người dùng</div>
                    </a>
                </li>
                <li class="menu-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/admin/teacher}" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-user"></i>
                        <div data-i18n="Teacher">Quản lý giáo viên</div>
                    </a>
                </li>
                <li class="menu-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/admin/exam}" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-user"></i>
                        <div data-i18n="Teacher">Quản lý DGNL</div>
                    </a>
                </li>
                <li class="menu-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/admin/bill}" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-user"></i>
                        <div data-i18n="Teacher">Quản lý hóa đơn</div>
                    </a>
                </li>
            </ul>



        </aside>
        <!-- / Menu -->


        <!-- Layout container -->
        <div class="layout-page">

            <!-- Navbar -->


            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar">
                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">


                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                               data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img th:src="${#authentication.getPrincipal().avatar}" alt
                                         class="w-px-40 h-auto rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" th:href="@{/account/profile}">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img th:src="${#authentication.principal.avatar}" alt
                                                         class="w-px-40 h-auto rounded-circle">
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-semibold d-block">
                                                    <p th:text="${#authentication.principal.firstName} + ' '"
                                                       class="d-inline"></p>
                                                    <p th:text="${#authentication.principal.lastName}"
                                                       class="d-inline"></p>
                                                </span>
                                                <small class="text-muted"
                                                       th:text="${#authentication.principal.role}"></small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/account/my-course}">
                                        <i class="bx bxl-youtube me-2"></i>
                                        <span class="align-middle">Khóa học của tôi</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/account/profile}">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">Tài khoản</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/logout}" target="_blank">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->


                    </ul>
                </div>

            </nav>

            <!-- / Navbar -->


            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">

                    <h4 class="fw-bold py-3 mb-4">
                        <span class="text-muted fw-light">Đánh giá năng lực</span>
                    </h4>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4">
                                <h5 class="card-header" th:text="${exam.name}"></h5>
                                <div class="card-body">
                                    <div th:if="${level}" class="alert alert-success alert-dismissible" role="alert">
                                        <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">Chúc mừng
                                            :)</h6>
                                        <div>
                                            <p class="mb-0 d-inline">Bạn đã hoàn thành bài kiểm tra với số câu đúng: </p>
                                            <p th:text="${score}" class="d-inline"></p>
                                        </div>
                                        <div>
                                            <p class="d-inline">Trình độ hiện tại của bạn:</p>
                                            <p class="d-inline" th:text="${level}"></p>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close">
                                        </button>
                                    </div>
                                    <form th:action="@{/examresult/process}" method="post">
                                        <input type="hidden" th:name="examId" th:value="${exam.id}">
                                        <div class="question" th:each="question,questionIndex : ${exam.questions}">
                                            <p th:text="'Câu ' + ${questionIndex.index + 1} + ':' "></p>
                                            <p th:text="${question.content}"></p>
                                            <div class="answer">
                                                <input type="radio" th:if="${answers}"
                                                       th:name="'answer' + ${questionIndex.index}" value="A"
                                                       th:checked="${answers[questionIndex.index].equals('A')}">
                                                <input type="radio" th:unless="${answers}"
                                                       th:name="'answer' + ${questionIndex.index}" value="A">
                                                <label>
                                                    A.<span th:text="${question.option1}"></span>
                                                </label>
                                            </div>
                                            <div class="answer">
                                                <input type="radio" th:if="${answers}"
                                                       th:name="'answer' + ${questionIndex.index}" value="B"
                                                       th:checked="${answers.get(questionIndex.index).equals('B')}">
                                                <input type="radio" th:unless="${answers}"
                                                       th:name="'answer' + ${questionIndex.index}" value="B">
                                                <label>
                                                    B.<span th:text="${question.option2}"></span>
                                                </label>
                                            </div>
                                            <div class="answer">
                                                <input type="radio" th:if="${answers}"
                                                       th:name="'answer' + ${questionIndex.index}" value="C"
                                                       th:checked="${answers.get(questionIndex.index).equals('C')}">
                                                <input type="radio" th:unless="${answers}"
                                                       th:name="'answer' + ${questionIndex.index}" value="C">
                                                <label>
                                                    C.<span th:text="${question.option3}"></span>
                                                </label>
                                            </div>
                                            <div class="answer">
                                                <input type="radio" th:if="${answers}"
                                                       th:name="'answer' + ${questionIndex.index}" value="D"
                                                       th:checked="${answers.get(questionIndex.index).equals('D')}">
                                                <input type="radio" th:unless="${answers}"
                                                       th:name="'answer' + ${questionIndex.index}" value="D">
                                                <label>
                                                    D.<span th:text="${question.option4}"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <input th:unless="${answers}" type="submit" value="Nộp bài"
                                               class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${results.isEmpty() or results == null}" class="card">
                        <h5 class="card-header">Lịch sử làm bài</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Số câu đúng</th>
                                    <th>Tổng số câu</th>
                                    <th>Trình độ</th>
                                    <th>Ngày làm</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                <tr th:each="result : ${results}">
                                    <td th:text="${result.id}"></td>
                                    <td th:text="${result.score}"></td>
                                    <td th:text="${result.exam.getQuestions().size()}"></td>
                                    <td th:text="${result.level}"></td>
                                    <td th:text="${result.createdAt}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <!-- / Content -->


                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>


    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>


    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

</div>
<!-- / Layout wrapper -->


<div class="buy-now">
    <a href="https://themeselection.com/item/sneat-bootstrap-html-admin-template/" target="_blank"
       class="btn btn-danger btn-buy-now">Đăng ký ngay</a>
</div>


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/static/vendor/libs/jquery/jquery.js"></script>
<script src="/static/vendor/libs/popper/popper.js"></script>
<script src="/static/vendor/js/bootstrap.js"></script>
<script src="/static/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/static/vendor/libs/hammer/hammer.js"></script>
<script src="/static/vendor/libs/i18n/i18n.js"></script>
<script src="/static/vendor/libs/typeahead-js/typeahead.js"></script>

<script src="/static/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/static/vendor/libs/moment/moment.js"></script>
<script src="/static/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="/static/vendor/libs/select2/select2.js"></script>
<script src="/static/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="/static/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
<script src="/static/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
<script src="/static/vendor/libs/cleavejs/cleave.js"></script>
<script src="/static/vendor/libs/cleavejs/cleave-phone.js"></script>

<!-- Main JS -->
<script src="/static/js/main.js"></script>

<!-- Page JS -->
<script src="/static/js/app-user-list.js"></script>

</body>


</html>

<!-- beautify ignore:end -->

